<div class="container" style="margin-top: 40px;">
      <%= form_tag shelters_path, method: :get, class: "search-form" do %> <%=
      text_field_tag :query, params[:query], class: "form-control lato", placeholder:
      "Where are you going?" %> <%= submit_tag "SEARCH SHELTERS", class:
      "prime-btn-landing lato" %> <% end %>
    </div>

<div class="d-flex" style="margin-left: 20px;">
  <div class="container h-100" style="margin-bottom: 60px">
    <div class="row align-middle">
      <% @shelters.each do |shelter| %>
        <div class="col-md-6 col-lg-6 column">
        <%= link_to shelter_path(shelter), class: "card-link" do %>
          <div class="card">
            <div class="card-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path shelter.photo.key%>')">
              <div class="txt">
                <h1 class="shelter-h1"><%= shelter.name %></h1>
                <p class="shelter-p"><%= shelter.address %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
    <div id="map"
    style="width: 100%; height: 100vh; margin-top: 48px; margin-right: 20px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

<div class="container justify-content-center align-middle">
  <div class="button justify-content-center align-middle">
    <% if policy(Shelter).create? %>
      <%= link_to 'Create Shelter', new_shelter_path, class: 'sec-btn shelter-center justify-content-center' %>
    <% end  %>
  </div>
</div>

