
<h1>The Shelters Near You</h1>

<% @shelters.each do |shelter| %>
<%= shelter.name %>
<br>
<%= shelter.address %>
<br>
<%= shelter.description %>
<br>
<% end %>


    <%= link_to 'Create Shelter', new_shelter_path, class: 'prime-btn' %>


    <%= link_to 'Create Shelter', new_shelter_path, class: 'sec-btn' %>


