<div class="container">
    <h1>Index</h1>

    <% @shelters.each do |shelter| %>
    <%= shelter.name %>
    <%= shelter.address %>
    <%= shelter.description %>
    <% end %>

    <%= link_to 'Create Shelter', new_shelter_path, class: 'prime-btn' %>

    <%= link_to 'Create Shelter', new_shelter_path, class: 'sec-btn' %>
    
    
</div>


<%# 

<div class="container">
    <div class="button-container">
    <div class="dog">
        <div class="tail"></div>
        <div class="body"></div>
        <div class="head">
        <div class="eyes">
            <div class="left"></div>
            <div class="right"></div>
        </div>
        <div class="nuzzle">
            <div class="mouth">
            <div class="tongue"></div>
            </div>
            <div class="nose">
            <div class="nostrils"></div>
            <div class="highlight"></div>
            </div>
        </div>
        </div>
        <div class="ears">
        <div class="left"></div>
        <div class="right"></div>
        </div>
    </div>
    <button>
        Create Shelter
    </button>
    <div class="paw"></div>
    <div class="paw top"></div>
    </div>
</div> %>
