
<h1>Shelters Near You</h1>



<% @shelters.each do |shelter| %>
<%= link_to shelter.name, shelter_path(shelter) %>
<br>
<%= shelter.address %>
<br>
<%= shelter.description %>
<br>
<% end %>


    <%= link_to 'Create Shelter', new_shelter_path, class: 'prime-btn' %>


    <%= link_to 'Create Shelter', new_shelter_path, class: 'sec-btn' %>


