<div class="container">
<%= link_to "Back", shelters_path, class: 'back-sec-btn' %>
</div>

<div class="container ahmo">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-lg-8 col-md-6">
      <div class="form">
        <div class="container">
          <%= simple_form_for(@shelter) do |f| %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :description %>
            <label class="sec-btn sec-btn-file">Upload picture
            <span style="display:none;">
            <%= f.input :photos, as: :file, input_html: { multiple: true }, class: "hidden" %>
            </span>
            </label><br><br>
            <%= f.submit class: 'prime-btn'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
