
<% if @shelter.photo.attached? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @shelter.photo.key%>')">
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/600x600/?dogs')">
  <% end %>
  <div class="hero">
  <div class="container">
    <h1 class="open-sans lato ls-xlarge bold line-height-header"><%= @shelter.name %></h1>
    <h2 class="lato thin ls-xlarge"><%= @shelter.address %></h2>
    <p class="epsilon normal ls-medium line-height-banner"><%= @shelter.description %></p>
    <% if current_user.id == @shelter.user_id %>
      <%= link_to "+ Add Animal", new_shelter_animal_path(@shelter), id: "plus-btn" %>
    <% end %>
  </div>
  </div>

  </div>
</div>

<div class="container">
    <div class='row'>
      <% @shelter.animals.each do |animal|  %>
      <div class="col-sm-12 col-md-4">
        <div class="infocardContainer">
        <% if animal.photos.attached? %>
          <div id='main'>
              <%= cl_image_tag animal.photos.first.key, id: 'card-image', class: "card-img-top"%>
          </div>
          <% end %>
          <div id="textbois">
          <h2> <%= animal.name %> </h2>
          <h4 id="codepenio"> Dropoff: <%= animal.dropoff %> </h4>
          <div id="hotlinks">
          <%= link_to 'MORE DETAILS', animal_path(animal), class: 'prime-btn' %>
          </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <%= link_to "back",  shelters_path, class: 'back-sec-btn'%>
  </div>

