<div class="shelter-show">
    <div class="banner-and-animals">
        <% if @shelter.photo.attached? %>
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @shelter.photo.key %>')">
        <% else %>
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/600x600/?dogs')">
        <% end %>
          <div class="hero">
            <div class="container">
              <h1 class="open-sans lato ls-xlarge bold line-height-header">
                <%= @shelter.name %>
              </h1>
              <h2 class="lato thin ls-xlarge line-height-h2">
                <i class="fas fa-map-marker"></i><%= @shelter.address %>
              </h2>
            </div>
          </div>
        </div>
      <div class="animal-cards">
        <div class="row">


          <% @shelter.animals.each do |animal|  %>
          <div class="col-md-4">
              <div class="card-animal">
                <% if animal.photos.attached? %>
                  <%= cl_image_tag animal.photos.first.key %>
                <% end %>
                <div class="card-animal-infos">
                  <div class="w-100">
                    <div class="card-animal-dropoff text-right"><p>Dropoff <i class="fas fa-map-marker"></i><%= animal.dropoff %></p></div>
                    <h2><%= animal.name %></h2>
                    <p><%= animal.medical_information %></p>
                  <div class="detail-link">
                   <%= link_to 'MORE DETAILS', animal_path(animal), class: 'prime-btn' %>
                   </div>
                </div>
            </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
    <div class="gray-info-box">
      <p class="epsilon normal ls-medium line-height-text">
        <%= @shelter.description %>
      </p>
      <img src="<%= cl_image_path current_user.avatar.key %>" class="card-animal-user avatar-large avatar-bordered" />
      <h3 class="epsilon normal ls-medium line-height-text">
        <%= @shelter.user.username %>
      </h3>
      <% if current_user == @shelter.user %>
        <%= link_to "+ Add Animal", new_shelter_animal_path(@shelter), id: "plus-btn" %>
      <% end %>
    </div>
</div>
  <div class="container">
    <%= link_to "back",  shelters_path, class: 'back-sec-btn ml-1'%>
  </div>

