<h2>
  <ul>
    <li>
      <%= @shelter.name %> <br>
      <%= @shelter.address %> <br>
      <%= @shelter.description %> <br>
    </li>
  </ul>
</h2>

<% @shelter.animals.each do |animal|  %>
 <p> <%= animal.name %> </p>
 <p> Dropoff: <%= animal.dropoff %> </p>
 <p> Description: <%= animal.description %> </p>
<% end %>

<%= link_to 'BACK', shelters_path %>
