



<% if @shelter.photo.attached? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @shelter.photo.key%>')">
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/600x600/?dogs')">
  <% end %>
  <div class="container">
    <h1><%= @shelter.name %></h1>
    <h2><%= @shelter.address %> <br><br></h2>
    <h3><%= @shelter.description %> <br></h3>
    <% if current_user.id == @shelter.user_id %>
      <%= link_to "+ Add Animal", new_shelter_animal_path(@shelter), id: "plus-btn" %>
    <% end %>
  </div>
</div>


<div class="container">
    <div class='row'>
      <% @shelter.animals.each do |animal|  %>
        <div class='card mr-3' style="width: 18rem">
        <% if animal.photos.attached? %>
          <div id='card-image'>
            <% animal.photos.each do |photo| %>
              <%= cl_image_tag photo.key, id: 'card-image', class: "card-img-top"%>
            <% end %>
          </div>
          <% end %>
          <div class='card-body'>
          <p> <%= animal.name %> </p>
          <p> Dropoff: <%= animal.dropoff %> </p>
          <p> Description: <%= animal.description %> </p>
          <%= link_to 'MORE DETAILS', shelter_animal_path(@shelter, animal), class: 'prime-btn' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "back",  shelters_path%>
