<div class="container-profile">
  <div class="container-profile-user">
    <div class="user-info-card text-center p-4 lato">
      <div>
        <h1 class="lato light profile-header-style">Welcome to your Dashboard, <br><%= current_user.first_name %></h1>
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class:
          "avatar-round", height: 90, width: 90, crop: :fill %>
          <% else %>
            <%= cl_image_tag "https://media.defense.gov/2020/Feb/19/2002251686/700/465/0/200219-A-QY194-002.JPG", class: "avatar-round" %>
          <% end %>
        <hr>
      </div>
      <h5 class="mt-3 lato light"><strong> Your Profile Information</strong></h5>
      <br>
      <p class='color: white;'><%= current_user.first_name%> <%= current_user.last_name%></p>
      <p><%= current_user.email %></p>
      <p><%= current_user.bio%></p>
      <div id="sec-btn-dashboard">
        <%= "Edit" %>
      </div>
    </div>
  <div class="format lato">
      <div class="div-tabs">
        <div class="wrapper-tabs">
          <input class="radio" id="one" name="group" type="radio" checked />
          <input class="radio" id="two" name="group" type="radio" />
          <input class="radio" id="three" name="group" type="radio" />
          <div class="tabs">
            <div class="position-tabs">
              <% if current_user.is_shelter_owner? %>
                <label class="tab tab-boxshadow-right" id="one-tab" for="one">Outgoing Requests</label>
                <label class="tab tab-boxshadow-right" id="two-tab" for="two">Incoming Requests</label>
                <label class="tab tab-boxshadow-right" id="three-tab" for="three">My Shelters</label>
              <% else %>
                <label class="tab tab-boxshadow-right" id="one-tab" for="one">Outgoing Requests</label>
              <% end %>
            </div>
          </div>
          <div class="panels lato">
            <div class="panel" id="one-panel">
              <div class="panel-title">Become a Guardian</div>
              <% @outgoing_requests.each do |request| %>
                <div class="notification">
                  <% if request.animal.photos  %>
                    <%= cl_image_tag request.animal.photos.first.key, class: "avatar-square", crop: :fill %>
                  <% else %>
                    <%= image_tag "https://media.defense.gov/2020/Feb/19/2002251686/700/465/0/200219-A-QY194-002.JPG", class: "avatar-profile-dashboard"%>
                  <% end %>
                  <div class="notification-content">
                    <p><small>Created At</small></p>
                    <p><strong><%= request.created_at.strftime("%m/%d/%Y") %></strong></p>
                    <br>
                    <p><small>For</small></p>
                    <p><strong><%= request.animal.name %></strong></p>
                    <br>
                    <p><small>Dropoff</small></p>
                    <p><strong><%= request.animal.dropoff %></strong></p>
                    <br>
                    <p><small>Your Message</small></p>
                    <p><strong><%= request.message.last %>  <%= "..." %> </strong></p>
                    <br>
                    <p><small>Request Status</small></p>
                    <p><strong><%= request.status %></strong></p>
                  </div>
                  <div class="lato">
                    <%= link_to "Chat with Shelter", request_path(request), class: "back-sec-btn" %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="panel lato" id="two-panel">
              <div class="panel-title lato">Your Requests</div>
              <% if current_user.is_shelter_owner? %>
                <% @incoming_requests.each do |incoming_r| %>
                  <div class="notification">
                    <% if incoming_r.animal.photos  %>
                      <%= cl_image_tag incoming_r.animal.photos.first.key, class: "avatar-square", crop: :fill %>
                    <% else %>
                      <%= image_tag "https://media.defense.gov/2020/Feb/19/2002251686/700/465/0/200219-A-QY194-002.JPG", class: "avatar-profile-dashboard"%>
                    <% end %>
                    <div class="notification-content d-flex">
                      <div class="guardian-message">
                        <p><%= incoming_r.message %> <%= "..." %> <%= link_to "Chat with User", request_path(request), class: "back-sec-btn" %></p>
                      </div>
                      <p><small>Guardian Message:</small></p>
                      <p><small>Request Status</small></p>
                      <p><%= incoming_r.status %></p>
                      <% if incoming_r.pending? %>
                        <%= link_to "Accept", accept_path(incoming_r), method: :patch, controller: "requests_controller", class: "accept-btn" %>
                        <%= link_to "Decline", decline_path(incoming_r), method: :patch, controller: "requests_controller", class: "decline-btn" %>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
                <% end %>
            </div>
            <div class="panel lato" id="three-panel">
              <% if current_user.is_shelter_owner? %>
                <div class="panel-title lato">Your Shelters</div>
                <br>
                <% @shelters.each do |shelter| %>
                <div class="notification">
                  <% if shelter.photo %>
                    <%= cl_image_tag shelter.photo.key, class: "avatar-square", crop: :fill %>
                  <% else %>
                    <%= image_tag "https://media.defense.gov/2020/Feb/19/2002251686/700/465/0/200219-A-QY194-002.JPG", class: "avatar-profile-dashboard"%>
                  <% end %>
                  <div class="notification-content">
                    <ul class="list-items-shelter-tabs">
                      <br>
                      <li> <%= link_to shelter.name, shelters_path, class: "shelter-link-styling" %> <%= link_to "Shelter", shelters_path, class: "shelter-link-styling" %></li>
                      <br>
                      <h6><strong>Location</strong></h6>
                      <li><%= shelter.address %></li>
                      <br>
                    </ul>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
