<% @shelter.animals.each do |animal|  %>
 <p> <%= animal.name %> </p>
 <p> Dropoff: <%= animal.dropoff %> </p>
 <p> Description: <%= animal.description %> </p>
  <%= animal.animal_type %>
  <%= animal.weight %>
  <%= animal.size %>
  <%= animal.age %>
  <%= animal.race %>
  <%= animal.medical_information %>
  <%= animal.description %>
  <% if animal.photos.attached? %>
    <% animal.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 300, crop: :fill %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'BACK', shelters_path, class: 'prime-btn'%>
