<div class="container py-3">

  <div class="card-product">

    <div id="card-img">
      <% if @animal.photos.attached? %>
        <% @animal.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 450, width: 450, crop: :fill %>
        <% end %>
      <% end %>
    </div>

    <div class="card-product-infos">
        <h1 class="headers-font"> <strong> <%= @animal.name %> </strong> </h1>
        <ul>
          <p> <em>Destination:</em> <%= @animal.dropoff %> </p>
          <p> <em>Weight:</em> <%= @animal.weight %> </p>
          <p> <em>Size:</em> <%= @animal.size %> kg </p>
          <p> <em>Race:</em> <%= @animal.race %> </p>
          <p> <em>Medical information:</em> <%= @animal.medical_information %> </p>
          <div class="card-product-description">

        </ul>
          <p> <%= @animal.description %> </p>
        </div>
    </div>
  </div>







<%= link_to 'BACK', shelters_path, class: 'prime-btn'%>
<%= link_to 'Be my guardian', shelters_path, class: 'prime-btn'%>
  </div>
