<div class="container ml-1">
  <%= link_to 'Back', shelters_path, class: 'back-sec-btn'%>
</div>


<div class="container-fluid d-flex mb-5">
  <div class="row mt-5">
    <div class="col-8">
      <div class="card-product">
        <div id="card-img">
          <% if @animal.photos.attached? %>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <%   @animal.photos.each_with_index do |photo, index | %>
                  <div class="<%= index == 0 ? 'carousel-item active' : 'carousel-item' %>">
                    <%= cl_image_tag photo.key, height: 600, width: 500, crop: :fill,  class: "d-block" %>
                  </div>
                  <% end %>
                </div>

              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

          <% end %>
        </div>

        <div class="card-product-infos d-flex flex-column justify-content-between h-100 py-5">
          <h1 class="headers-font lato bold"> <strong> <%= @animal.name %> </strong> </h1>
          <div class="lato normal w-100">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <div class="row my-3">Destination:</div>
                  <div class="row my-3">Weight (kg):</div>
                  <div class="row my-3">Size:</div>
                  <div class="row my-3">Race:</div>
                  <div class="row my-3">Medical information:</div>
                </div>

                <div class="col-8">
                  <div class="row my-3"><%= @animal.dropoff %></div>
                  <div class="row my-3"><%= @animal.weight %></div>
                  <div class="row my-3"><%= @animal.size %></div>
                  <div class="row my-3"><%= @animal.race %></div>
                  <div class="row my-3"><%= @animal.medical_information %></div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-product-description lato">
            <h5>About <%= @animal.name %> </h5>
            <p> <em><%= @animal.description %> </em> </p>
          </div>
        </div>
      </div>


    </div>
    <div class="col-4">
      <div class="shelter-form h-100 px-4 d-flex flex-column justify-content-center">
        <div class="lato normal">
          <h5><strong>Get in touch with the shelter:</strong></h5>
          <%= simple_form_for [@animal, @request] do |f| %>
            <div class="button-fix">
              <%= f.input :message, input_html: {rows: 8} %>
              <label class="sec-btn sec-btn-file">Upload Passport
                <span style="display:none;">
                  <%= f.input :passport, as: :file, class: "hidden" %>
                </span>
                </label>
              <%= f.submit "Become my Guardian", class: "center-btn prime-btn justify-content-center" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>

