<div class="container">
  <%= @animal.name %>
  <%= @animal.animal_type %>
  <%= @animal.weight %>
  <%= @animal.size %>
  <%= @animal.age %>
  <%= @animal.race %>
  <%= @animal.medical_information %>
  <%= @animal.description %>


</div>



