<div class="show">
  <div class="card-product">
    <div id="card-img">
      <% if @animal.photos.attached? %>
        <% @animal.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 450, width: 450, crop: :fill %>
        <% end %>
      <% end %>
    </div>

    <div class="card-product-infos">
        <h1 class="headers-font lato bold"> <strong> <%= @animal.name %> </strong> </h1>
        <ul class="lato normal">
          <p> <em>Destination:</em> <%= @animal.dropoff %> </p>
          <p> <em>Weight:</em> <%= @animal.weight %> </p>
          <p> <em>Size:</em> <%= @animal.size %> kg </p>
          <p> <em>Race:</em> <%= @animal.race %> </p>
          <p> <em>Medical information:</em> <%= @animal.medical_information %> </p>
        </ul>
        <div class="card-product-description">
          <p> <%= @animal.description %> </p>
          <div class="buttons">
            <%= link_to 'Be my guardian', shelters_path, class: 'prime-btn'%>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <%= link_to 'BACK', shelters_path, class: 'sec-btn'%>
</div>
